/* Reset and base styles */
:root {
  --primary-color: #ccd6f6;
  --secondary-color: #233554;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background: linear-gradient(120deg, #0a192f, #0f203a);
  color: val(--primary-color);
  line-height: 1.6;
}

/* Theme toggle button */
.theme-toggle {
  position: fixed;
  top: 1rem;
  right: 1rem;
  font-size: 1.5rem;
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  z-index: 1000;
}

/* Layout structure */
.app-container {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

/* Sidebar (Left) */
.sidebar {
  width: 50%;
  background-color: #0a192f;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
  position: sticky; /* optional if you want it scroll with page */
  top: 0;
}

.sidebar-content{
  padding-top: 50px;
  width: 63%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.name {
  font-size: 3rem;
  margin: 0;
  font-weight: bold;
  --tw-text-opacity: 1;
}

.title {
  font-size: 1.5rem;
  margin: 0;
  font-weight: 600;
  --tw-text-opacity: 1;
}

.tagline {
  width: 70%;
  font-size: 1rem;
  color: #8892b0;
  font-weight: 500;
  margin-bottom: 2rem;
}

/* Nav */
.sidebar-nav ul {
  list-style: none;
  padding: 0;
  padding-top: 50px;
  margin-bottom: 2rem;
}

.sidebar-nav li {
  position: relative;
  padding-left: 2rem;
  margin-bottom: 0.75rem;
}

.sidebar-nav li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 1.25rem;
  height: 1px;
  background-color: #8892b0; /* line color */
  transform: translateY(-50%);
}

.sidebar-nav a {
  color: #ccd6f6;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s;
}

.sidebar-nav a:hover {
  color: #64ffda;
}

/* Social icons */
.social-icons {
  margin-top: auto;
  padding-top: 2rem;
  margin-bottom: 3rem;
  display: flex;
  gap: 1rem;
}

.social-icons a {
  margin-right: 1rem;
  color: #8892b0;
  font-size: 1.5rem;
  transition: color 0.3s;
}

.social-icons a:hover {
  color: #64ffda;
}

/* Main content (Right) */
.main-content {
  width: 50%;
  height: 100vh;
  overflow-y: auto;
  background-color: #0f203a;
}

.main-content-context {
  max-width: 650px;
  margin: 0 0 auto 0;
  padding: 1rem;
}

.section {
  padding: 2rem;
  border-bottom: 1px solid #233554;
}

.section h2 {
  font-size: 1.75rem;
  margin-bottom: 1rem;
  color: #64ffda;
}

#about p {
  font-size: 0.9rem;
}

/* Experience Section */
.job-entry {
  margin-bottom: 2rem;
  padding: 1rem;
  background-color: #112240;
  border-radius: 5px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

.job-entry:hover {
  box-shadow: 0 3px 9px rgba(252, 253, 255, 0.377);
  transform: scale(1.05);
}

.job-meta {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
}

.job-date {
  font-size: 0.80rem;
  color: #8892b0;
}

.job-company {
  margin: 0.2rem 0;
  font-size: 1rem;
  --tw-text-opacity: 1;
  color: rgb(226 232 240 / var(--tw-text-opacity));
}

.job-title {
  margin: 0.2rem 0;
  font-size: 0.8rem;
  color: #8892b0;
}

/* Tech tags */
.tech-tags {
  margin-top: 0.5rem;
  font-style: bold;
  font-weight: 500;
}

.tech-tags span {
  display: inline-block;
  background-color: #233554;
  color: #64ffda;
  font-size: 0.75rem;
  padding: 0.3rem 0.6rem;
  margin-right: 0.5rem;
  border-radius: 4px;
  margin-top: 1rem;
}

.job-bullets {
  padding-left: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  list-style-type: disc;
}

.job-bullets li {
  margin-bottom: 0.5rem;
  line-height: 1.6;
  font-size: 0.85rem;
}

.tab-buttons{
  margin-bottom: 25px;
}

  .tab-button {
    padding: 0.5rem 1rem;
    border: 1px solid #e7f1ff;
    --tw-text-opacity: 1;
    background-color: rgb(226 232 240 / var(--tw-text-opacity));
    color: #233554;
    border-radius: 0.375rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 1rem;
  }

  .tab-button:hover {
    background-color: #e7f1ff;
    box-shadow: 0 2px 10px rgba(252, 253, 255, 0.377);
    transform: scale(1.05);
  }

  .tab-button.active {
    background-color: #233554;
    color: white;
  }
  
  .top-button {
    padding: 0.5rem 1rem;
    width: 150px;
    border: 1px solid #e7f1ff;
    background-color: #233554;
    color:  #e7f1ff;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 1rem;
  }

  .top-button:hover {
     --tw-text-opacity: 1;
    background-color: rgb(226 232 240 / var(--tw-text-opacity));
    box-shadow: 0 2px 10px rgba(252, 253, 255, 0.377);
    color:  #233554;
  }

.experience-header {
  position: static;
}

.project-entry .tech-tags {
  padding: 0 0 1rem 1rem;
}

.project-entry .tech-view button {
  display: inline-block;
  background-color: #233554;
  color: #f1efef;
  font-size: 0.75rem;
  padding: 0.3rem 0.6rem;
  margin-left: 1rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
  border-radius: 4px;
}

.project-entry .tech-details-back button {
  display: inline-block;
  background-color: #233554;
  color: #f1efef;
  font-size: 0.75rem;
  padding: 0.3rem 0.6rem;
  margin-left: 1rem;
  border-radius: 4px;
}

/* Responsive design */
@media (max-width: 768px) {
  .app-container {
    flex-direction: column;
    height: auto;
  }

  .job-entry.in-view {
    box-shadow: 0 3px 9px rgba(252, 253, 255, 0.377);
    transform: scale(1.05);
    transition: all 0.3s ease;
  }

  .section {
    padding-top: 1rem;
  }
    
  .job-bullets li {
    font-size: 0.75rem;
  }

 .sidebar {
    width: 100%;
    position: relative;
    height: auto;
    align-items: center;
    padding-top: 3rem;
  }
    
  #about p {
    font-size: 0.82rem;
  }

  .main-content {
    width: 100% !important;
    height: auto;
  }

  .main-content-context {
    max-width: 100%;
    padding: 0;
  }

  .sidebar-content {
    width: 100%;
    padding-top: 0;
  }

  .sidebar-nav ul {
    padding-left: 0;
  }
  
  .experience-header {
    position: sticky;
    top: 0;
    background-color: var(--background-color); /* Match your theme */
    z-index: 999;
    padding-top: 1rem;
  }

  .job-content {
    font-size: 0.8rem;
    height: auto;
    overflow: hidden;
    transition: max-height 0.3s ease;
  }

  .job-entry.collapsed .job-content {
    height: 230px;
    overflow: hidden;
  }

  .job-entry {
    overflow: hidden;
    transition: max-height 0.4s ease;
    margin-bottom: 2rem;
  }

  .job-entry.collapsed {
    max-height: 500px;
    position: relative;
    cursor: pointer;
  }

  .job-entry.collapsed::after {
    content: "Tap to read more";
    display: block;
    text-align: center;
    font-size: 0.9rem;
    color: #888;
    padding: 0.5rem;
    background: linear-gradient(to top, #0a0a0a, transparent);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }

  .job-entry:not(.collapsed) {
    max-height: 1000px;
  }

  .tech-tags {
    min-height: 2rem;
  }

  .scroll-button-up {
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    z-index: 9999;
  }

  .scroll-button-up button {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    border: none;
    background-color: #112240;
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    box-shadow: 0 2px 10px rgba(252, 253, 255, 0.377);
  }

    
  .job-date {
    font-size: 0.75rem;
  }

  .job-company {
    font-size: 0.9rem;
  }

  .job-title {
    font-size: 0.75rem;
  }

  .name {
    font-size: 2.3rem;
    margin: 0;
    font-weight: bold;
    --tw-text-opacity: 1;
    color: rgb(226 232 240 / var(--tw-text-opacity));
  }

  .title {
    font-size: 1.2rem;
    margin: 0;
    font-weight: 600;
    --tw-text-opacity: 1;
    color: rgb(226 232 240 / var(--tw-text-opacity));
  }

  .tagline {
    width: 70%;
    font-size: 0.85rem;
    color: #8892b0;
    font-weight: 500;
    margin-bottom: 2rem;
  }
    
  .top-button {
    padding: 0.5rem 1rem;
    width: 180px;
    margin-right: 1rem;
  }

  .tab-button {
    margin-bottom: 1rem;
  }
}
